polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.udisks2.filesystem-mount" &&
        subject.user == "kevin") {
        return polkit.Result.YES;
    }
});
